body{
    transition: 1s;
}

.dropdown{
    width:200px;
    display:flex;
    flex-direction: column;
  }
  .dropbtn{
    margin-top: 25px;
    width: 220px;
    padding:10px;
    border-radius: 5px;
    border:none;
    color:rgb(11, 11, 11);
    background:white;
    display:flex;
    font-size: 17px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
.dropbtn span
  {
    font-size: 15px;
  }
.droplist{
  display: none;
border: 1px solid grey;
flex-direction: column;
box-shadow:5px 10px 20px rgba(0, 0, 0, .3);
}
.dropdown:hover .droplist{
display: flex;

}

.button{
position: relative;
width: 100px;
height: 40px;
border-radius: 25px;
box-shadow: 0 0 2.5px 0 grey;
cursor: pointer;
border: 2px solid grey;
background: rgb(212, 209, 209);
}
.button.dark{
    background:rgb(57, 57, 59) ;
}
body{
    width: 100%;
    height: 100vh;
}
#nice{
    width: 100%;
    height: 490px;
    border:1px solid grey
}

.button.dark .ball{
    left:60px;
    background-color: black;
}
body.dark{
    background: black;
}

.ball{
   position: absolute;
   top: 0;
   left: 0;
   width: 40px;
   height: 100%;
   background: white;
   border-radius: 50%;
   transition: left 1s;
    }

.ball-move{
  left: calc(100% -40px);
}